.review {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 46px 40px;
}

.review:not(:first-child) {
    margin-top: 60px;
}

@media screen and (max-width: 767px) {
    .review {
        grid-template-columns: 1fr;
    }
}